.contact form{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.aboutInputField{
    color: black;
    width: 100%;
    border-radius: 30px;
    padding: 0.5rem;
    margin: 0.5rem;
}

.contact form textarea{
    color: black;
    width: 100%;
    border-radius: 30px;
    padding: 1rem;
    margin: 0.5rem;
    max-height: 200px;
    max-width: 600px;
}

.blocLabel {
    display: flex;
    align-items: center;
}

.aboutButton {
    border: 0;
    background-color: #9fc5d4;
    color: black;
    cursor: pointer;
    width: 30%;
    margin: 1rem;
    padding: 0.5rem;
    transition: 1.5s ease;
    font-weight: 600;
}

.aboutButton:hover {
    background-color: white;
}

.titleForm {
    color:white;
}