.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.navMenu {
  z-index: 10;
  background-color: gray;
  position: fixed;
  width: 30em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navMenu ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin: 0;
}

.navMenu ul li{
  display: block;
  padding: 0.3em;
} 

.navMenu ul li a{
  color: black;
  transition: all 1s;
}

.navMenuMobile {
  display: none;
}

.navMenu ul li a:hover, .navMenu ul li a:active{
  color: white;
}

@media (max-width: 700px) {

  .burgerButton {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 0.3em;
    z-index: 15;
    width: fit-content;
    height: 2em;
    position: fixed;
    background-color: gray;
    cursor: pointer;
  }

  .burgerButton span {
    display: block;
    background-color: white;
    height: 0.01em;
    width: 2.5em;
  }

  .navMenu{
    display: none;
  }

  .navMenuMobile {
    display: block; 
    position: fixed;
    z-index: 10;
    padding: 0 0.4em;
    background-color: gray;
    border-bottom-right-radius: 5px;
    display: none;
  }

  .navMenuMobile ul {
    list-style-type: none;
    margin: 0;
    padding: 0.3em 0;
  }

  .navMenuMobile ul li {
    margin: 1em 0;
  }

  .navMenuMobile ul li:hover, .navMenuMobile ul li:active{
    color: white;
  }

  .navMenuMobile ul li a {
    color: black;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



/*ANTD*/

/* .ant-anchor-link-active > .ant-anchor-link-title {
  color: white;
}

.ant-anchor-link > .ant-anchor-link-title:hover {
  color:white;
} */

 /*Large screen */

/*
.mainMenuDiv {
  z-index:10;
  position: fixed;
  margin-right: 35%;
  margin-left: 35%;
  min-width: 30%;
  background-color: rgb(167, 167, 167);
  padding: 0.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.9;
  border: none;
}

.mainMenuAnchorGroup {
  margin-left: 0;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}*/

/*Mobile screen*/
/* .mainMenuDiv {
    margin-left: 0;
    margin-right: 0;
  }

  .mainMenuAnchorGroup {
    width: 100%;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .mainMenuAnchorGroup img {
    display: none;
  }

} */


